@model david.hotelbooking.mvc.Models.UserRolesViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Model.UserEmail</h4>
<hr />

<form method="post" id="user_roles_form">
    <input type="hidden" asp-for="UserId" />
</form>
<table>
    <tr>
        <th>Roles</th>
        <th>Permissions</th>
    </tr>
    @foreach (var role in Model.Roles)
    {
        <tr>
            <td>
                <input name="UserRoleIds"
                       checked="@Model.UserRoleIds.Contains(role.Id)"
                       type="checkbox"
                       form="user_roles_form"
                       value="@role.Id" />
                @role.Name
            </td>
            <td></td>
        </tr>

        @foreach (var itemPermission in role.RolePermissions)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelitem => itemPermission.Permission.Name)
                </td>
            </tr>
        }
    }
</table>
<input type="submit" form="user_roles_form" />


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
