@model david.hotelbooking.mvc.Models.UserRolesViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Model.UserEmail</h4>
<hr />
<form method="post">
            <input type="hidden" asp-for="UserId" />
    @foreach (var role in Model.Roles)
    {
            <input
                name="UserRoleIds"
                checked="@Model.UserRoleIds.Contains(role.Id)"
                type="checkbox"
                value="@role.Id" /> @role.Name<br />
            @foreach (var itemPermission in role.RolePermissions)
            {
                    @Html.DisplayFor(modelitem => itemPermission.Permission.Name)
            }
    }
    <input type="submit"/>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
